@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown ul,
.markdown ol {
  list-style-position: inside;
}

.markdown ol li {
  list-style: decimal;
  list-style-position: outside;
  margin-left: 16px;
  padding-left: 8px;
  margin-bottom: 8px;
}

.markdown h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
}

.markdown pre {
  margin-bottom: 16px;
}

.markdown pre code {
  font-size: 14px;
  font-family: monaco, monoospace;
}

.markdown p code {
  font-size: 14px;
  font-family: monaco, monoospace;
  padding: 2px 4px;
  background: #eee;
}

.markdown p {
  margin-bottom: 16px;
}
